DEVOPS CHAT BOT/app.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: 'DEVOPS CHAT BOT'
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: package
  value:
    plugin_unique_identifier: langgenius/openai_api_compatible:0.0.16@77274df8fe2632cac66bfd153fcc75aa5e96abbe92b5c611b8984ad9f4cd4457
- current_identifier: null
  type: package
  value:
    plugin_unique_identifier: langgenius/openai:0.0.23@5b670a358c9d1293a4d74e34835f25578d301e61f8c0a506b5d83b8e8e9945bd
kind: app
version: 0.2.0
workflow:
  conversation_variables:
  - description: ''
    id: c734a080-74f5-4f85-8afa-609cddc3c42d
    name: devops_users
    selector:
    - conversation
    - devops_users
    value:
    - darshan
    value_type: array[string]
  - description: ''
    id: a25d3d41-6f54-4f66-aead-b79bf065ba7e
    name: user_email
    selector:
    - conversation
    - user_email
    value: darshan
    value_type: string
  - description: ''
    id: 6c0aea9d-cc01-47bf-bf6c-bad2ec7d4307
    name: tools
    selector:
    - conversation
    - tools
    value: []
    value_type: array[string]
  - description: ''
    id: a4b7a370-5080-437f-b7de-ab1983fd9a6e
    name: is_past_incident
    selector:
    - conversation
    - is_past_incident
    value: boolean value
    value_type: string
  - description: 'Decision -->|Yes (low-risk & high-confidence)| AgenticPath[Agentic
      Path]

      Decision -->|No / Needs Approval| AdvisoryPath[Advisory Path]'
    id: 2536aa9f-eedc-4e2e-a55b-89c0db27cc18
    name: is_agentic
    selector:
    - conversation
    - is_agentic
    value: 'No'
    value_type: string
  - description: ''
    id: 94c9afb2-8c22-4765-88af-2f2c5624eabd
    name: POLICIES
    selector:
    - conversation
    - POLICIES
    value: []
    value_type: array[object]
  - description: ''
    id: 00b9f50f-c3e3-4c0f-9e84-9367b7dcc1d2
    name: CONVERSATION_CONTEXT
    selector:
    - conversation
    - CONVERSATION_CONTEXT
    value: []
    value_type: array[string]
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1755770975026-1-1755771340187-target
      selected: false
      source: '1755770975026'
      sourceHandle: '1'
      target: '1755771340187'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: answer
      id: 1755770975026-1755771490139-1755771530099-target
      selected: false
      source: '1755770975026'
      sourceHandle: '1755771490139'
      target: '1755771530099'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1755770975026-2-1755771340187-target
      selected: false
      source: '1755770975026'
      sourceHandle: '2'
      target: '1755771340187'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1755770975026-1755771142426-1755771340187-target
      selected: false
      source: '1755770975026'
      sourceHandle: '1755771142426'
      target: '1755771340187'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1755770975026-1755771148794-1755771340187-target
      selected: false
      source: '1755770975026'
      sourceHandle: '1755771148794'
      target: '1755771340187'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1755770975026-1755771168786-1755771340187-target
      selected: false
      source: '1755770975026'
      sourceHandle: '1755771168786'
      target: '1755771340187'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1755770975026-1755771177131-1755771340187-target
      selected: false
      source: '1755770975026'
      sourceHandle: '1755771177131'
      target: '1755771340187'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1755770975026-1755771179395-1755771340187-target
      selected: false
      source: '1755770975026'
      sourceHandle: '1755771179395'
      target: '1755771340187'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1755770975026-1755771193667-1755771340187-target
      selected: false
      source: '1755770975026'
      sourceHandle: '1755771193667'
      target: '1755771340187'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1755771340187-source-1755772914132-target
      selected: false
      source: '1755771340187'
      sourceHandle: source
      target: '1755772914132'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: answer
      id: 1755770975026-1755780149208-1755780434241-target
      selected: false
      source: '1755770975026'
      sourceHandle: '1755780149208'
      target: '1755780434241'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1755772914132-source-1755797979836-target
      selected: false
      source: '1755772914132'
      sourceHandle: source
      target: '1755797979836'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: answer
        targetType: knowledge-retrieval
      id: 1755797979836-source-1755798089347-target
      selected: false
      source: '1755797979836'
      sourceHandle: source
      target: '1755798089347'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1755798089347-source-1755798516387-target
      selected: false
      source: '1755798089347'
      sourceHandle: source
      target: '1755798516387'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: if-else
      id: 1755798516387-source-1755798811539-target
      selected: false
      source: '1755798516387'
      sourceHandle: source
      target: '1755798811539'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1755798811539-true-1755799408547-target
      selected: false
      source: '1755798811539'
      sourceHandle: 'true'
      target: '1755799408547'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1755798811539-false-1755799421866-target
      selected: false
      source: '1755798811539'
      sourceHandle: 'false'
      target: '1755799421866'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: http-request
      id: 1755770557378-source-1755799852157-target
      selected: false
      source: '1755770557378'
      sourceHandle: source
      target: '1755799852157'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: assigner
      id: 1755799852157-source-1755801619724-target
      selected: false
      source: '1755799852157'
      sourceHandle: source
      target: '1755801619724'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: question-classifier
      id: 1755801619724-source-1755770975026-target
      source: '1755801619724'
      sourceHandle: source
      target: '1755770975026'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: answer
        targetType: if-else
      id: 1755799408547-source-1755802016918-target
      source: '1755799408547'
      sourceHandle: source
      target: '1755802016918'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1755802016918-true-1755802086959-target
      source: '1755802016918'
      sourceHandle: 'true'
      target: '1755802086959'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1755802016918-false-1755802099197-target
      source: '1755802016918'
      sourceHandle: 'false'
      target: '1755802099197'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: answer
        targetType: llm
      id: 1755802086959-source-1755802154381-target
      source: '1755802086959'
      sourceHandle: source
      target: '1755802154381'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1755802154381-source-1755802354568-target
      source: '1755802154381'
      sourceHandle: source
      target: '1755802354568'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: answer
        targetType: assigner
      id: 1755802354568-source-1755802365813-target
      source: '1755802354568'
      sourceHandle: source
      target: '1755802365813'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: assigner
        targetType: iteration
      id: 1755802365813-source-1755803543521-target
      source: '1755802365813'
      sourceHandle: source
      target: '1755803543521'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1755803543521'
        sourceType: iteration-start
        targetType: http-request
      id: 1755803543521start-source-1755803589537-target
      source: 1755803543521start
      sourceHandle: source
      target: '1755803589537'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1755803543521'
        sourceType: http-request
        targetType: assigner
      id: 1755803589537-source-1755803670058-target
      source: '1755803589537'
      sourceHandle: source
      target: '1755803670058'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: iteration
        targetType: llm
      id: 1755803543521-source-1755803830011-target
      source: '1755803543521'
      sourceHandle: source
      target: '1755803830011'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1755803830011-source-1755803932618-target
      source: '1755803830011'
      sourceHandle: source
      target: '1755803932618'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables: []
      height: 53
      id: '1755770557378'
      position:
        x: 30
        y: 905.5
      positionAbsolute:
        x: 30
        y: 905.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        classes:
        - id: '1'
          name: 'CI/CD & Pipelines

            pipeline_failed → When a GitLab/Helios pipeline fails.

            job_not_starting → Stage does not have start option.

            artifact_expired → Pipeline artifacts expired; needs rerun.

            runner_issue → Runner not available, disk full, or resource quota.

            build_guidance → Steps to run Docker build locally or replicate pipeline.

            unit_test_fail → Coverage below threshold or test failure.

            pipeline_long_running → Pipeline taking unusually long.'
        - id: '2'
          name: 'Deployment & Environment

            deployment_failed → Deployment unsuccessful.

            outdated_pipeline → Prevent outdated deployments.

            resource_limits → OOM, quota, resource limit issues.

            stage_update_needed → Stage not updated / new stages in pipeline.

            base_image_update → Vulnerability scan / new Docker image check.'
        - id: '1755771142426'
          name: 'Application / Frontend

            ssr_vue_issue → SSR or Vue.js rendering problem.

            runtime_error → Runtime exception or syntax error.

            css_issue → Styling / CSS problems.

            friendly_url_issue → URL not working, microservice route problem.

            regression_check → Verify full regression after deployment.'
        - id: '1755771148794'
          name: 'Monitoring & Logs

            log_query → Search logs in Kibana / Grafana.

            https_error_summary → Summarize HTTPS errors across DCs.

            metrics_request → Request for pipeline, system, or performance metrics.'
        - id: '1755771168786'
          name: 'Access / Permissions

            access_request → User requesting dashboard / product access.

            permission_issue → Insufficient permissions to execute tasks.

            kubeconfig_usage → Questions about kubeconfig keys/values.'
        - id: '1755771177131'
          name: 'Automated Remediation / Bot Actions

            rerun_pipeline → Rerun jobs / pipelines.

            clear_cache → Clear Redis, runner cache, or specific URL caches.

            create_ticket → Create story / incident in Jira / Helios.

            duplicate_check → Check if issue already exists and provide thread link.'
        - id: '1755771179395'
          name: 'Feedback / Improvement

            bot_feedback → Feedback about bot response (helpful or not).

            report_issue_frequency → Summarize frequent issues for RCA.

            suggest_improvement → Users suggesting new automations.'
        - id: '1755771193667'
          name: 'Investigations / Diagnostics

            investigate_issue → Generic investigation request (requires multiple checks).

            check_pipeline_status → Check pipeline / job / artifact status.

            check_service_health → Check K8s pod, microservice, or cache health.

            budget_issue → Budget check failures or guidance.'
        - id: '1755771490139'
          name: CONVERSATION START
        - id: '1755780149208'
          name: 'CHECK_USER_SATISFIED


            context of chat: {{#sys.query#}}

            '
        - id: '1755801465867'
          name: 'NEEDMORE SUPPORT


            context of chat: /'
        desc: ''
        instructions: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4-turbo
          provider: langgenius/openai/openai
        query_variable_selector:
        - '1755770557378'
        - sys.query
        selected: false
        title: Intent Classifier
        topics: []
        type: question-classifier
        vision:
          enabled: false
      height: 1411
      id: '1755770975026'
      position:
        x: 939
        y: 905.5
      positionAbsolute:
        x: 939
        y: 905.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        dataset_ids:
        - etmCMk/bkUCgoyhr5kB9v1o23qiP0RTTcP34L/rR1zVndNlQERf4hULi7+lN1VAD
        desc: ''
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: weighted_score
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: sentence-transformers/all-MiniLM-L6-v2
              embedding_provider_name: langgenius/openai_api_compatible/openai_api_compatible
              vector_weight: 0.7
        query_variable_selector:
        - '1755770557378'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: PAST INCIDENT CHECKS
        type: knowledge-retrieval
      height: 91
      id: '1755771340187'
      position:
        x: 1242
        y: 905.5
      positionAbsolute:
        x: 1242
        y: 905.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: Hi how can i help?
        desc: ''
        selected: false
        title: Answer 3
        type: answer
        variables: []
      height: 101
      id: '1755771530099'
      position:
        x: 1242
        y: 1036.5
      positionAbsolute:
        x: 1242
        y: 1036.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: true
          variable_selector:
          - '1755771340187'
          - result
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: gpt-4-turbo
          provider: langgenius/openai/openai
        prompt_template:
        - id: b5d57c1b-c562-4186-b8f0-a786d47f6cbc
          role: system
          text: "You are a support engineer. try to find out how much of the given\
            \ user question is relevant to past incidents and provide confidence score\
            \ relevant to past experience and response as a support engineer and create\
            \ context . Response should be in json\n\nconfidence_score: [0-10]\nagent_response:\
            \ response should be gchat friendly and should have follow up question\
            \ to get response from user that should we go further in investigation\
            \ or are that was correct answer \nis_past_incident: Boolean true false\
            \ if confidence score is greater than 6\n\nquery from user : {{#sys.query#}}\n\
            intent: {{#1755770975026.class_name#}}\npast INCIDENT context : {{#context#}}"
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              agent_response:
                type: string
              confidence_score:
                type: number
              context:
                type: string
              is_past_incident:
                type: string
            required:
            - confidence_score
            - agent_response
            type: object
        structured_output_enabled: true
        title: RAG AGENT
        type: llm
        variables: []
        vision:
          enabled: false
      height: 89
      id: '1755772914132'
      position:
        x: 1545
        y: 905.5
      positionAbsolute:
        x: 1545
        y: 905.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: Thank you for chat
        desc: ''
        selected: false
        title: Answer 7
        type: answer
        variables: []
      height: 101
      id: '1755780434241'
      position:
        x: 1242
        y: 1177.5
      positionAbsolute:
        x: 1242
        y: 1177.5
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: 'is past incident: {{#1755772914132.structured_output.is_past_incident#}}

          confidence score: {{#1755772914132.structured_output.confidence_score#}}'
        desc: ''
        selected: false
        title: Answer 4
        type: answer
        variables: []
      height: 153
      id: '1755797979836'
      position:
        x: 1848
        y: 905.5
      positionAbsolute:
        x: 1848
        y: 905.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        dataset_ids:
        - 4D3dAYBCJisfaf+2Je/Xu4NJPn1BJ6jZjkg45iem84HaA1ZR/4jkNVsUL14b3XWC
        desc: ''
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: weighted_score
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0
            vector_setting:
              embedding_model_name: sentence-transformers/all-MiniLM-L6-v2
              embedding_provider_name: langgenius/openai_api_compatible/openai_api_compatible
              vector_weight: 1
        query_variable_selector:
        - '1755770975026'
        - class_name
        retrieval_mode: multiple
        selected: false
        title: Policy Retrieval
        type: knowledge-retrieval
      height: 91
      id: '1755798089347'
      position:
        x: 2151
        y: 905.5
      positionAbsolute:
        x: 2151
        y: 905.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: gpt-4o
          provider: langgenius/openai/openai
        prompt_template:
        - id: decabbf3-28e7-4977-9146-f1b7ff3e78bd
          role: system
          text: "Act as a guardrail on basis of elow policies and make sure to come\
            \ up with decisons for \n\nis_agentic_action: [true, false] [context:\
            \ tools needs to be use]\nis_safe : [ true , false ] [context: is safe\
            \ as per policy]\n\noutput should be json format \n\nuser question: {{#sys.query#}}\
            \ \n\nPolicies:\n- User Query has no tokens"
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              is_agentic_action:
                type: string
              is_safe:
                type: string
              need_approval:
                type: string
            required: []
            type: object
        structured_output_enabled: true
        title: GUARDRAIL
        type: llm
        variables: []
        vision:
          enabled: false
      height: 89
      id: '1755798516387'
      position:
        x: 2454
        y: 905.5
      positionAbsolute:
        x: 2454
        y: 905.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 1c144bab-c498-4f83-9034-52adbd408ac1
            value: 'true'
            varType: object
            variable_selector:
            - '1755798516387'
            - structured_output
            - is_safe
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: IF/ELSE
        type: if-else
      height: 125
      id: '1755798811539'
      position:
        x: 2757
        y: 905.5
      positionAbsolute:
        x: 2757
        y: 905.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: NEED APPROVAL
        desc: ''
        selected: false
        title: Answer 5
        type: answer
        variables: []
      height: 101
      id: '1755799408547'
      position:
        x: 3060
        y: 905.5
      positionAbsolute:
        x: 3060
        y: 905.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: GUARD RAILS ARE ACTIVATED
        desc: ''
        selected: false
        title: Answer 6
        type: answer
        variables: []
      height: 101
      id: '1755799421866'
      position:
        x: 3060
        y: 1046.5
      positionAbsolute:
        x: 3060
        y: 1046.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        desc: ''
        headers: ''
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP Request
        type: http-request
        url: https://www.mymcp.com/mcp/tools
        variables: []
      height: 138
      id: '1755799852157'
      position:
        x: 333
        y: 905.5
      positionAbsolute:
        x: 333
        y: 905.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        items:
        - input_type: variable
          operation: append
          value:
          - '1755799852157'
          - body
          variable_selector:
          - conversation
          - tools
          write_mode: over-write
        selected: false
        title: Variable Assigner
        type: assigner
        version: '2'
      height: 87
      id: '1755801619724'
      position:
        x: 636
        y: 905.5
      positionAbsolute:
        x: 636
        y: 905.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: d988c1f8-e4a9-4757-a211-8f1b18864bb5
            value: '{{#conversation.user_email#}}'
            varType: array[string]
            variable_selector:
            - conversation
            - devops_users
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: IF/ELSE 2
        type: if-else
      height: 125
      id: '1755802016918'
      position:
        x: 3363
        y: 905.5
      positionAbsolute:
        x: 3363
        y: 905.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: 'permission granted '
        desc: ''
        selected: false
        title: Answer 6
        type: answer
        variables: []
      height: 101
      id: '1755802086959'
      position:
        x: 3666
        y: 905.5
      positionAbsolute:
        x: 3666
        y: 905.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: "for this action will require devops person \n\n{{#conversation.devops_users#}}"
        desc: ''
        selected: false
        title: Answer 7
        type: answer
        variables: []
      height: 119
      id: '1755802099197'
      position:
        x: 3666
        y: 1046.5
      positionAbsolute:
        x: 3666
        y: 1046.5
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: true
          variable_selector:
          - '1755771340187'
          - result
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: gpt-4-turbo
          provider: langgenius/openai/openai
        prompt_template:
        - id: 18c87038-2054-4f6a-9b8a-416de1dbf93b
          role: system
          text: "Act as a support engineer. understand current user query, understand\
            \ its intent, check previous conversation, check past incidents, check\
            \ which tools we can use from tools section and provide good response\
            \ make sure that response is small and upto point. response should have\
            \ a plan on how one should solve this issue agentic from using below agentic\
            \ tools. Make sure to not use excessive amount of tools only use tool\
            \ which are enough to do job and then create plan. create tools array\
            \ as per plan.\n\nuser query: {{#sys.query#}}\nintent: {{#1755770975026.class_name#}}\n\
            \nconversation history: {{#conversation.CONVERSATION_CONTEXT#}} \n\ntools:\
            \ \n\U0001F680 CI/CD & Pipeline Tools\nrerun_pipeline → reruns a pipeline\
            \ safely\ncheck_pipeline_status → fetches current pipeline/job status\n\
            get_pipeline_logs → fetches logs for a given job/stage\nclear_runner_cache\
            \ → clears cache on a GitLab runner\nreport_pipeline_metrics → summarizes\
            \ metrics (duration, pass/fail rate, etc.)\ncheck_outdated_pipeline →\
            \ detects if a pipeline run is outdated\ninvestigate_pipeline_failure\
            \ → root cause analysis guidance\n\n\U0001F6E0️ Deployment & Infra Tools\n\
            redeploy_service → redeploys a service in non-prod\ncheck_service_health\
            \ → checks health of pod/service\nrestart_pod → restarts a pod in non-prod\
            \ (advisory in prod)\ncheck_resource_limits → detects OOM / CPU spikes\n\
            check_https_errors → summarizes TLS/HTTPS issues\ncheck_regression → triggers\
            \ regression validation in sandbox\n\n\U0001F4E6 Build, Artifact & Test\
            \ Tools\nrebuild_artifact → rebuilds expired artifacts\nlocal_build_guide\
            \ → step-by-step instructions for local builds\nunit_test_summary → reports\
            \ test failures & coverage\ncreate_ticket → auto-create Jira/Helios ticket\
            \ for failures\n\n\U0001F50E Observability & Logs\nquery_logs → search\
            \ logs with filters (Kibana/Elastic)\nsummarize_logs → summarize recurring\
            \ errors\nreport_issue_frequency → daily/weekly error trends\n\n\U0001F310\
            \ App & Frontend Tools\ncheck_runtime_error → log analysis + suggestions\n\
            ssr_diagnostics → troubleshoot SSR rendering issues\ncss_debugger → guidance\
            \ for CSS/styling regressions\nfriendly_url_checker → validate routes\
            \ / URL configs\n\n\U0001F510 Access & Permissions\nrequest_access → workflow\
            \ for access requests\nresolve_permission_issue → checks user/project\
            \ permissions\nkubeconfig_explainer → explains kubeconfig keys/usage\n\
            \n\U0001F4A1 Meta / Knowledge Tools\nduplicate_issue_checker → checks\
            \ if issue already reported\nbot_feedback_collector → stores user feedback\n\
            budget_check_helper → guidance for budget-related issues\n\nPast Incidents:\
            \ \n{{#context#}}\n"
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              tools:
                items:
                  additionalProperties: false
                  properties:
                    input:
                      type: string
                    tool_name:
                      type: string
                  required: []
                  type: object
                type: array
            required:
            - tools
            type: object
        structured_output_enabled: true
        title: AGENT PLAN CREATOR
        type: llm
        variables: []
        vision:
          enabled: false
      height: 89
      id: '1755802154381'
      position:
        x: 3969
        y: 905.5
      positionAbsolute:
        x: 3969
        y: 905.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: '{{#1755802154381.text#}}'
        desc: ''
        selected: false
        title: Answer 8
        type: answer
        variables: []
      height: 103
      id: '1755802354568'
      position:
        x: 4272
        y: 905.5
      positionAbsolute:
        x: 4272
        y: 905.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        items:
        - input_type: variable
          operation: append
          value:
          - sys
          - query
          variable_selector:
          - conversation
          - CONVERSATION_CONTEXT
          write_mode: over-write
        - input_type: variable
          operation: append
          value:
          - '1755802154381'
          - text
          variable_selector:
          - conversation
          - CONVERSATION_CONTEXT
          write_mode: over-write
        selected: false
        title: Variable Assigner 2
        type: assigner
        version: '2'
      height: 115
      id: '1755802365813'
      position:
        x: 4575
        y: 905.5
      positionAbsolute:
        x: 4575
        y: 905.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        error_handle_mode: terminated
        height: 258
        is_parallel: false
        iterator_selector:
        - '1755802154381'
        - structured_output
        - tools
        output_selector:
        - '1755803589537'
        - body
        output_type: array[string]
        parallel_nums: 10
        selected: false
        start_node_id: 1755803543521start
        title: Iteration
        type: iteration
        width: 810
      height: 258
      id: '1755803543521'
      position:
        x: 4878
        y: 905.5
      positionAbsolute:
        x: 4878
        y: 905.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 810
      zIndex: 1
    - data:
        desc: ''
        isInIteration: true
        selected: false
        title: ''
        type: iteration-start
      draggable: false
      height: 48
      id: 1755803543521start
      parentId: '1755803543521'
      position:
        x: 60
        y: 105
      positionAbsolute:
        x: 4938
        y: 1010.5
      selectable: false
      sourcePosition: right
      targetPosition: left
      type: custom-iteration-start
      width: 44
      zIndex: 1002
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        desc: ''
        headers: ''
        isInIteration: true
        isInLoop: false
        iteration_id: '1755803543521'
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP Request 2
        type: http-request
        url: https://www.mymcp.com/health
        variables: []
      height: 138
      id: '1755803589537'
      parentId: '1755803543521'
      position:
        x: 204
        y: 60
      positionAbsolute:
        x: 5082
        y: 965.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
      zIndex: 1002
    - data:
        desc: ''
        isInIteration: true
        isInLoop: false
        items:
        - input_type: variable
          operation: append
          value:
          - '1755799852157'
          - body
          variable_selector:
          - conversation
          - CONVERSATION_CONTEXT
          write_mode: over-write
        iteration_id: '1755803543521'
        selected: false
        title: Variable Assigner 3
        type: assigner
        version: '2'
      height: 87
      id: '1755803670058'
      parentId: '1755803543521'
      position:
        x: 507
        y: 85.5
      positionAbsolute:
        x: 5385
        y: 991
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
      zIndex: 1002
    - data:
        context:
          enabled: true
          variable_selector:
          - conversation
          - CONVERSATION_CONTEXT
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: internetbrands/openai-compat
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: 850b5a54-acb0-4cfb-a8c5-73d7dad697fa
          role: system
          text: "come up with followup questions on the basis of below context your\
            \ a support engineer. \nkeep convesation small and have a follow up question.\n\
            \n{{#context#}}"
        selected: true
        structured_output:
          schema:
            additionalProperties: false
            properties:
              html:
                type: string
              system_response:
                type: string
            required: []
            type: object
        structured_output_enabled: true
        title: LLM 4
        type: llm
        variables: []
        vision:
          enabled: false
      height: 89
      id: '1755803830011'
      position:
        x: 5748
        y: 905.5
      positionAbsolute:
        x: 5748
        y: 905.5
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: '{{#1755803830011.structured_output.system_response#}}


          {{#1755803830011.structured_output.html#}}'
        desc: ''
        selected: false
        title: Answer 10
        type: answer
        variables: []
      height: 121
      id: '1755803932618'
      position:
        x: 6051
        y: 905.5
      positionAbsolute:
        x: 6051
        y: 905.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    viewport:
      x: -2102.7023992680306
      y: -97.26159296862102
      zoom: 0.43527528164806223
